extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to the Beyond Infinity Employee App
  p You email is: #{email}
  p Your password is: #{password}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Log in to the App
  p If you need any help with the app, please email 
    span
      a(href='mailto:mike@beyondinfinitymedia.agency') mike@beyondinfinitymedia.agency