doctype html
html(data-wf-page="5f5584e8b1877ac41bfe6175" data-wf-site="5f4d86c62c2567707e524886")
  include _head
  body
    .login-full-page-wrapper(data-w-id="2780b9cf-e921-70f3-5555-5dc38ae906b5")
      .login-box
        img.login-logo(src="/images/Beyond-Infinity-Logo-Blue-Gradient.png" loading="lazy" alt="")
        div Welcome Back!!! Please log in.
        .login-form-block.w-form
          form#login-form.login-form(name="Login-Form" data-name="Login Form")
            .input-wrapper
              label.field-label(for="Email-Address") Email Address
              input#email-address.input.w-input(type="text" required="" maxlength="256" name="Email-Address" data-name="Email Address")
            .input-wrapper
              label.field-label(for="Password") Password
              input#password.input.w-input(type="password" required="" maxlength="256" name="Password" data-name="Password")
            input.login-button.w-button(type="submit" value="Login" data-wait="Please wait...")
      .login-background
        .card-highlight
        img.side-logo(src="/images/Beyond-Infinity-Logo-White.png" loading="lazy" alt="")
  include _bottomScript
